<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>
  <div>
      <div class="header">
        <div class="logo">FRIISBII</div>
        <div class="infoHeader">
          <a href='' class="aHeader">INICIO</a>
          <a href='' class="aHeader">BUSCAR</a>
        <button class="Returnbutton Sesion">Iniciar sesión</button>
        <button class="Returnbutton Register">Regístrate</button>
      </div>
      </div>
  </div>
</body>

</html>