<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../pages/Home/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Hamburger Navbar</title>
</head>

<body>
    <header class="headers">
        <nav class="navbar">
            <img class="nav-logo" src="https://res.cloudinary.com/marcos020499/image/upload/v1631114276/ICONO_HEADER-01_lgfxak.svg" alt="">
            <ul class="nav-menu">
                <div class="aHeaderContainer">
                    <li class="nav-item">
                        <a href="../../pages/Home/Home.html" class="nav-link aHeader" style="color: white;">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link aHeader" style="color: white;">BUSCAR</a>
                    </li>
                  </div>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="SesionSesion" >
                        <p>Hola, admin</p> 
                        <img class="imgButtonAdmin" src="https://res.cloudinary.com/marcos020499/image/upload/v1631917437/FAV_ICON-02_1_drx9mo.svg" alt="">
                    </div></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="SesionOut">
                            <img src="https://res.cloudinary.com/marcos020499/image/upload/v1631311195/SVGS_MENU%CC%81_FRIISBII-04_nynl5e.svg" alt="">
                            Salir
                        </div>
                    </a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
</body>

<script src="./style.js"></script>
</html>