.objHeader {
  width: 100%;
}
.header {
  background-color: #ffd800;
  box-shadow: 0px 0px 5px 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 3;
}

.logo {
  text-align: left;
  padding: 0 0 0 50px;
}
.aHeader {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: GeomanistBold;
}
.aHeaderContainer {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .aHeaderContainer {
    display: flex;
    flex-direction: row;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .aHeaderContainer {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: row;
  }
}

.infoHeader {
  display: flex;
  flex-direction: row;
}
.Register {
  letter-spacing: 1px;
  border: none;
  font-family: GeomanistBold;
}

.Sesion {
  border: 2px solid black;
  letter-spacing: 1px;
  font-family: GeomanistBold;
  background-color: #ffd800;
  border: 1px solid black;
}
@media (max-width: 1024px) {
  .aHeaderContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: column;
  }
  .Register {
    position: relative;
    top: -25px;
  }
}
/**/

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.headers {
  background-color: #ffd800;
  box-shadow: 0px 0px 5px 1px black;
  height: 80px;
  margin: 0 0 0 0;
  width: 100%;
}
@media (max-width: 768px) {
  .headers {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 83%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 6%;
  z-index: 2;
}
.nav-item {
  margin-left: 4rem;
}

.nav-link {
  font-family: GeomanistBold;
  letter-spacing: 1px;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  font-size: 15px;
}

.nav-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  margin: 0 0 0 8rem;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0rem;
    z-index: 3;
    flex-direction: column;
    background-color: rgb(255, 216, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 216, 0, 0.96);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd800, endColorstr=#ffd800);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd800, endColorstr=#ffd800)";
    width: 70%;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 1px black;
  }
  .nav-menu.active {
    left: 1%;
    z-index: 3;
  }

  .nav-item {
    margin: 0% 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
