<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>
  <div class="originSelect">
    <input type="text" placeholder="Origen">
      <p >Elige un origen</p>
      <button class="buttonOrigin">Aguascalientes</button>
      <button class="buttonOrigin">Baja California</button>
      <button class="buttonOrigin">Colima</button>
      <button class="buttonOrigin">Durango</button>
      <button class="buttonOrigin">Colima</button>
    </div>
</body>

</html>