/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/

body {
  margin: 0%;
  background-color: #222529;
  padding: 0%;
}
/*Header*/
.objHeader {
  width: 100%;
}

/*Panel de informacion partner*/
.conditionContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: -4% 0 0 0; /* The padding is the area for the shapes, adjust it based on the ratio of the shape*/
  /* to illustrate the space for the content */
  background: #222529;
}
.conditionContainerInfo {
  width: 100%;
}
.conditionTitle {
  font-family: GeomanistBook;
  color: white;
  font-size: 35px;
  padding: 5% 0 3% 0;
  text-align: center;
}
.conditionInfo {
  display: flex;
  margin: 0 15% 0 15%;
  flex-direction: row;
  color: white;
}
.question {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.conditionP {
  font-family: MontserratL;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 12px;
}
@media (max-width: 768px) {
  .conditionInfo {
    flex-direction: column;
  }
}
/*FOOTER*/
.objFooterQuestion {
  padding: 0%;
  margin: 0% 0 -1% 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 35rem;
  max-height: 35rem;
}
