/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/
.objHeader {
  width: 100%;
}
body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1631312422/ICONOS_FRIISBII-05-01-01_qjodqd.svg);
  background-size: 100%;
}
.containerClass {
  margin: -2% 0 0 0;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: auto;
}
.textTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.iconTextContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.iconHeader{
  width: 100%;
}
.Sbutton {
  font-family: "Montserrat", sans-serif;
  color: #818a91;
  background-color: #dddddd;
  border: none;
  width: 180px;
  height: 40px;
  margin: 0 1% 0 0;
  border-radius: 25px;
}
.S1button {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #222529;
  width: 180px;
  height: 40px;
  margin: 0 1% 0 0;
  border-radius: 25px;
}
@media only screen and (max-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .buttonsContainer {
    width: 95%;
  }
  .textTitle {
    margin: 3% 0 3% 8%;
  }
}
@media only screen and (max-width: 768px) {
  .textRow {
    font-size: 10px;
  }
  .folio {
    font-size: 10px;
  }
  .infoH3 {
    font-size: 12px;
  }
  .colorBg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .S1button {
    position: relative;
    top: -20px;
    margin:20px 0 0 0;
  }
  .Sbutton {
    margin: 0 0 20px 0;
}
/*FOOTER*/
.objFooterP {
  margin: 0% 0 0 -13%;
  min-width: 140%;
  min-height: 600px;
}
.objCalendar {
  width: 120%;
  height: 230px;
}
