/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/
.Smlbutton {
  width: 140px;
  height: 37px;
  border: 1px solid black;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #dddddd;
  font-weight: lighter;
}
.objHeader {
  width: 100%;
}
body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1631312422/ICONOS_FRIISBII-05-01-01_qjodqd.svg);
  background-size: 100%;
}
.containerClass {
  margin: -2% 0 0 0;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: auto;
}
.textTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.S1button {
  font-family: "Montserrat", sans-serif;
  color: #818a91;
  background-color: #dddddd;
  border: none;
  width: 180px;
  height: 40px;
  border-radius: 25px;
}
.Sbutton {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
  width: 180px;
  height: 40px;
  border-radius: 25px;
}
.containerData {
  background-color: #222529;
  display: flex;
  width: 85%;
  margin: auto;
  border-radius: 15px;
  flex-direction: column;
}
.nextTravel {
  color: #dddddd;
  font-family: "Montserrat", sans-serif;
  margin: 4% 4% 0 4%;
}
.ctnH {
  font-size: 12px;
  margin: 3% auto auto auto;
  position: relative;
  left: 4%;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}
.detailsInfo {
  position: relative;
  left: -4%;
}
.detailsInfos {
  position: relative;
  left: 40px;
}
.detailsIcon {
  width: 50px;
}
table {
  position: relative;
  top: -15px;
}
.infoH3 {
  margin: 10px 0 10px 0px;

  text-align: left;
}
.iconImgC {
  margin: 7% 0 0% 0;
  width: 35%;
}
.textContainer {
  text-align: center;
  margin: 0 0 5% 0;
}
.pText {
  color: white;
  font-family: GeomanistBook;
  font-size: 17px;
}
.smallText {
  text-decoration: none;
  font-size: 17px;
  color: #ffd800;
}
.container768 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.imgReturn {
  width: 20px;
}
.displayText {
  display: none;
}
.colorBg {
  background-color: #ffd800;
  width: 95%;
  height: 45px;
  border-radius: 30px;
  position: relative;
  top: 30px;
  margin: auto;
}
.RowC {
  color: #dddddd;
  width: 90%;
  position: relative;
  left: 4%;
}
.folio {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: left;
  max-width: 120px;
}
.textRow {
  font-size: 12px;
  text-align: left;
  font-family: MontserratL;
}
.originContainer {
  text-align: left;
  display: flex;
  justify-content: left;
}
.iconFolio {
  position: relative;
  left: 30px;
  width: 50px;
}
.containerFolio {
  display: flex;
  align-items: center;
}
.button {
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: -25px;
}
table {
  width: 100%;
  min-width: 1200px;
}
@media only screen and (max-width: 768px) {
  .textRow {
    font-size: 10px;
  }
  .folio {
    font-size: 10px;
  }
  .colorBg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .S1button {
    position: relative;
    top: -20px;
  }
  .originNone {
    display: flex;
  }
  .h3DisplayFalse {
    display: none;
  }
  .container7681 {
    display: none;
  }
  .textRow {
    font-size: 9px;
  }
  .folio {
    font-size: 9px;
  }
  .ctnH3 {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    width: 90%;
  }
  .containerH3 {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
  }
  .container768 {
    display: flex;
    flex-direction: column;
  }
  .imgReturn {
    width: 15px;
  }
  .pText {
    font-size: 14px;
  }
  .smallText {
    font-size: 14px;
  }
}
/*FOOTER*/
.objFooterP {
  margin: 0% 0 0 -13%;
  min-width: 140%;
  min-height: 600px;
}
.objCalendar {
  width: 120%;
  height: 230px;
}
