.Head {
  display: flex;
  flex-direction: column;
}
.parts {
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0 18% 0 18%;
}
.a {
  font-family: "Montserrat", sans-serif;
  background-color: #ffd800;
  opacity: 70%;
  display: flex;
  font-size: 20px;
  margin: 0 18vw 1vw 18vw;
  padding: 0.5vw 0 0.5vw 2vw;
  flex-direction: column;
}
small {
  color: purple;
  position: relative;
  top: -1vw;
  left: 50vw;
}
