/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/
.objHeader {
  width: 100%;
}
body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1631312422/ICONOS_FRIISBII-05-01-01_qjodqd.svg);
  background-size: 100%;
}
.containerClass {
  margin: -2% 0 0 0;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: auto;
}
.textTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.S1button {
  font-family: "Montserrat", sans-serif;
  color: #818a91;
  background-color: #dddddd;
  border: none;
  width: 180px;
  height: 40px;
  border-radius: 25px;
}
.Sbutton {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #222529;
  width: 180px;
  height: 40px;
  border-radius: 25px;
}
.divContainers {
  margin: auto;
  display: flex;
  width: 80%;
  flex-direction: row;
}
@media only screen and (max-width: 1024px) {
  .divContainers {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .divContainers {
    width: 90%;
  }
}
/*CONTAINER INFO*/
.containerPersonalInfo {
  border-radius: 25px;
  width: 40%;
  background-color: #222529;
}
.contaIconInfo {
  display: flex;
  justify-content: center;
}
.iconInfo {
  margin: 7% 0 0 0;
  width: 50%;
  z-index: 3;
  position: relative;
  left: 25%;
}
.iconInfoImg {
  z-index: 1;
  position: relative;
  right: 23%;
  margin: 7% 0 0 0;
  width: 45%;
}
.nameInfo {
  text-align: center;
  font-size: 22px;
  color: #dddddd;
  font-family: "Montserrat", sans-serif;
}
.buttonEdit {
  display: flex;
  justify-content: center;
}
.infoContainer {
  width: 80%;
  margin: 5% auto auto auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.infoLeft {
  line-height: 240%;
  text-align: left;
  color: #dddddd;
  font-family: MontserratL;
  font-size: 13px;
}
.infoRight {
  line-height: 240%;
  color: #ffd800;
  font-size: 13px;
  text-decoration: none;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 1200px) {
  .containerPersonalInfo {
    width: 50%;
  }
  .infoLeft {
    line-height: 200%;
    font-size: 12px;
  }
  .infoRight {
    font-size: 12px;
    line-height: 200%;
  }
}
@media only screen and (max-width: 1024px) {
  .containerPersonalInfo {
    width: 60%;
    margin: auto auto 5% auto;
  }
}
@media only screen and (max-width: 768px) {
  .containerPersonalInfo {
    width: 90%;
  }
}
.logisticPartner {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
}
.InputType {
  background-color: none;
  color: none;
}
.pInfo {
  color: #ffd800;
  text-align: center;
  font-size: 10px;
  font-family: MontserratL;
  padding: 0 10% 0 10%;
}
/*CONTAINER RIGHT*/
.containerRigth {
  width: 80%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  .containerRigth {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .containerRigth {
    width: 95%;
  }
}
.smallContainers {
  display: flex;
  width: 95%;
  margin: auto auto 2.5% auto;
  flex-direction: row;
  justify-content: space-between;
}
/*CONTAINER NONE*/
.noneContainer {
  width: 47%;
  text-align: center;
  color: #dddddd;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: #222529;
}
/*CONTAINER 0*/
._0Container {
  color: #dddddd;
  width: 47%;
  text-align: center;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: #222529;
}
.h3None {
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  .h3None {
    font-size: 20px;
  }
  ._0H3 {
    margin: -10% 0 0% 0;
    font-size: 40px;
  }
  .pNone {
    font-size: 12px;
  }
}
/*CONTAINER DATA*/
.containerData {
  background-color: #222529;
  display: flex;
  width: 95%;
  margin: auto;
  border-radius: 15px;
  flex-direction: column;
}
.nextTravel {
  color: #dddddd;
  font-family: "Montserrat", sans-serif;
  margin: 4% 4% 0 4%;
}
.ctnH {
  font-size: 12px;
  margin: 3% auto auto auto;
  position: relative;
  left: 4%;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}
table {
  position: relative;
  top: -45px;
}
.infoH3 {
  margin: 10px 0 10px 0px;

  text-align: left;
}
.iconImgC {
  margin: 7% 0 0% 0;
  width: 35%;
}
.textContainer {
  text-align: center;
  margin: 0 0 5% 0;
}
.pText {
  color: white;
  font-family: GeomanistBook;
  font-size: 17px;
}
.smallText {
  text-decoration: none;
  font-size: 17px;
  color: #ffd800;
}
.container768 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.imgReturn {
  width: 20px;
}
.displayText {
  display: none;
}
.colorBg {
  background-color: #ffd800;
  width: 95%;
  height: 45px;
  border-radius: 30px;
  margin: auto;
}
.RowC {
  color: #dddddd;
  width: 90%;
  position: relative;
  left: 4%;
}
.folio {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: left;
}
.textRow {
  font-size: 12px;
  text-align: left;
  padding: 15px 0 15px 0;
  font-family: MontserratL;
}
@media only screen and (max-width: 768px) {
  .textRow {
    font-size: 10px;
  }
  .folio {
    font-size: 10px;
  }
  .infoH3 {
    font-size: 12px;
  }
  .colorBg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .S1button {
    position: relative;
    top: -20px;
  }
  .originNone {
    display: flex;
  }
  .h3DisplayFalse {
    display: none;
  }
  .container7681 {
    display: none;
  }
  .textRow {
    font-size: 9px;
  }
  .folio {
    font-size: 9px;
  }
  .infoH3 {
    font-size: 10px;
  }
  .ctnH3 {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    width: 90%;
  }
  .containerH3 {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
  }
  .container768 {
    display: flex;
    flex-direction: column;
  }
  .imgReturn {
    width: 15px;
  }
  .pText {
    font-size: 14px;
  }
  .smallText {
    font-size: 14px;
  }
}
/*FOOTER*/
.objFooterP {
  margin: 0% 0 0 -13%;
  min-width: 140%;
  min-height: 600px;
}
.objCalendar {
  width: 120%;
  height: 230px;
}
