/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/

.buttonReturn {
  width: 112px;
  height: 42px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
.buttonPay {
  background-color: #ffd800;
  width: 42px;
  height: 42px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
}
.buttonSesion {
  width: 112px;
  height: 42px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #ffd800;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
.buttonRegisterHeader {
  background-color: white;
  width: 112px;
  height: 42px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
}
.buttonSave {
  background-color: #ffd800;
  width: 110px;
  height: 32px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: lighter;
}
.buttonRegister {
  background-color: #ffd800;
  width: 170px;
  height: 46px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Geomanist", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}
.buttonOk {
  background-color: #ffd800;
  width: 196px;
  height: 42px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 1000;
}
.buttonContact {
  background-color: #ffd800;
  width: 244px;
  height: 37px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 1000;
}
.buttonTravel {
  background-color: #ffd800;
  width: 407px;
  height: 46px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 1000;
}
body {
  margin: 0%;
  padding: 0%;
}
/*Header*/
.objHeader {
  width: 100%;
}

/*Panel de informacion partner*/
.panelInfoPartner {
  display: flex;
  flex-direction: row;
  margin: -9% 0 0 0;
  padding: 0 0 110% 0; /* The padding is the area for the shapes, adjust it based on the ratio of the shape*/
  height: 100px; /* to illustrate the space for the content */
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1630620395/trabaja_con_nosotros-01_vctsxs.svg);
  background-size: 83%;
}
.titlePartner {
  font-size: 33px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.pPartnerTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  width: 35%;
  color: white;
}
.panel {
  margin: 15% 30% 5% 9%;
  max-width: 83%;
}
.iconPartner {
  width: 120px;
}
.iconContP {
  font-family: "Montserrat", sans-serif;
  display: flex;
  margin: 28% 0 0 0;
}
.iconContainer {
  padding: 3vw;
  width: 18vw;
  text-align: center;
}
.iconContainerOptions {
  display: flex;
  margin: 26% 0 0 0;
  color: white;
  flex-direction: column;
}
.titleOptions {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  padding: 0 30% 0 30%;
  text-align: center;
}
.containerGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin: 4% 10% 4% 10%;
}
.IconPartner {
  width: 70px;
  height: 30px;
}
.iconImgP {
  justify-content: center;
  width: 40px;
  height: 40px;
}
.iconTextP {
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -20px;
  font-size: 12px;
}
.timeContainer {
  margin: 17% 0 0 0;
}
.titleTime {
  padding: 0 38% 0 38%;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  text-align: center;
}
.buttonTime {
  display: flex;
  margin: 4% 0 0 0;
  padding: 0% 0% 10% 0;
  justify-content: center;
}
.partnerTime {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
}
.pTime {
  margin: 0% 4% 0 0;
  font-family: monospace;
}

.bar {
  font-family: "Montserrat", sans-serif;
  background-color: #ffd800;
  position: absolute;
  max-width: 17%;
  font-size: 13px;
  color: white;
  text-align: center;
  min-height: 429%;
  overflow-y: auto;
  right: 0;
  top: 0;
}
.bar1 {
  height: auto;
  width: 13%;
  top: 0;
  right: 0;
  background-color: #ffd800;
  position: inline;
  overflow-y: auto;
  display: block;
}
.startContainer {
  background-color: black;
  color: white;
  min-width: 116%;
  height: auto;
  margin: 0 0 0 -13%;
  display: flex;
  flex-direction: row;
}
.startInfo {
  margin: 10% 0 7% 11%;
}
.startTitle {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
}
.startP {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  width: 75%;
  font-weight: lighter;
}
.imgStart {
  margin: 25% 150px 0 0;
  width: 400px;
  height: 250px;
}

/*FOOTER*/
.objFooterP {
  margin: 0% 0 0 -13%;
  min-width: 140%;
  min-height: 600px;
}
