/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/

body {
  background-color: #222529;
  margin: 0%;
  padding: 0%;
}
/*Header*/
.objHeader {
  width: 100%;
}

/*Panel de informacion partner*/
.panelInfoPartner {
  display: flex;
  flex-direction: row;
  margin: -9% 0 0 0;
  padding: 0 0 110% 0; /* The padding is the area for the shapes, adjust it based on the ratio of the shape*/
  height: 100px; /* to illustrate the space for the content */
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1630620395/trabaja_con_nosotros-01_vctsxs.svg);
  background-size: 100%;
}
.contaPartner {
  display: flex;
}
.titlePartner {
  font-size: 33px;
  padding: 5% 0 0 20%;
  font-family: GeomanistBook;
  color: white;
}
.pPartnerTitle {
  font-family: MontserratL;
  letter-spacing: 2px;
  padding: 5% 0 0 20%;
  width: 60%;
  color: white;
}
.imgPrincipal {
  position: relative;
  left: -30%;
  top: -10%;
  width: 80%;
}
.imgSecundary {
  position: relative;
  left: -10%;
  top: 0%;
  width: 80%;
}
@media (max-width: 1024px) {
  .titlePartner {
    margin: 0%;
  }
  .pPartnerTitle {
    margin: 0%;
  }
}
@media (max-width: 768px) {
  .titlePartner {
    padding: 5% 0 0 10%;
  }
  .contaPartner {
    position: relative;
    top: -200px;
    flex-direction: column;
  }
  .pPartnerTitle {
    width: 80%;
    margin: auto;
    padding: 5% 0 0 0;
    font-size: 13px;
  }
  .imgPrincipal {
    width: 30%;
    left: -5%;
    top: -50px;
    margin: auto;
  }
  .imgSecundary {
    width: 30%;
    left: 10%;
    margin: auto;
  }
}
.panel {
  margin: 15% 0 5% 0;
  max-width: 100%;
}
.iconPartnerr {
  width: 30%;
  margin: auto;
}
.iconContP {
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  margin: 20% 0 0 0;
}
.iconContainerPartner {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.iconPartnerP {
  width: 40%;
  margin: auto;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1024px) {
  .iconContP {
    margin: 15% 0 0 0;
  }
  .iconPartnerP {
    width: 60%;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .iconContP {
    margin: -20% 0 0 0;
  }
  .iconPartnerP {
    width: 80%;
    font-size: 12px;
  }
}
.iconContainerOptions {
  display: flex;
  margin: 26% 0 0 0;
  color: white;
  flex-direction: column;
}
.titleOptions {
  font-family: GeomanistBook;
  font-size: 35px;
  padding: 0 35% 0 35%;
  text-align: center;
}
.containerGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin: 4% 15% 4% 15%;
}
.IconPartner {
  display: flex;
  flex-direction: column;
}
.iconImgP {
  justify-content: center;
  width: 100px;
  height: 50px;
  margin: auto;
}
.iconTextP {
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: auto;
  font-size: 12px;
}
@media (max-width: 1366px) {
  .titleOptions {
    padding: 0 29% 0 29%;
  }
}
@media (max-width: 1024px) {
  .titleOptions {
    padding: 0 25% 0 25%;
  }
}
@media (max-width: 768px) {
  .titleOptions {
    padding: 0 20% 0 20%;
    font-size: 30px;
  }
}
.timeContainer {
  margin: 17% 0 0 0;
  padding: 5% 0 5% 0;
  background-color: white;
}
.titleTime {
  padding: 0 38% 0 38%;
  font-family: GeomanistBook;
  font-size: 34px;
  text-align: center;
}
.buttonTime {
  display: flex;
  margin: 4% 0 0 0;
  padding: 0% 0% 10% 0;
  justify-content: center;
}
.partnerTime {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
}
.pTime {
  margin: 0% 4% 0 0;
  line-height: 30px;
  font-family: MontserratL;
}
@media (max-width: 1366px) {
  .titleTime {
    padding: 0 34% 0 34%;
  }
}
@media (max-width: 1024px) {
  .titleTime {
    padding: 0 30% 0 30%;
  }
}
@media (max-width: 768px) {
  .titleTime {
    padding: 0 26% 0 26%;
  }
  .partnerTime {
    flex-direction: column;
  }
  .pTime {
    padding: 0 0 5% 0;
  }
}
.startContainer {
  background-color: #222529;
  color: white;
  min-width: 116%;
  height: auto;
  margin: 0 0 0 -13%;
  display: flex;
  flex-direction: row;
}
.startInfo {
  margin: 10% 0 7% 11%;
}
.startTitle {
  font-size: 35px;
  padding: 0 0 0 20%;
  font-family: GeomanistBook;
}
.startP {
  font-family: MontserratL;
  font-size: 15px;
  padding: 0 0 0 20%;
  width: 55%;
  line-height: 25px;
  font-weight: lighter;
}
.imgStart {
  margin: 100px 0 0 0;
  width: 80%;
}
@media (max-width: 1024px) {
  .imgStart {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .startContainer {
    flex-direction: column;
    margin: 0 0 0 -6%;
    width: 100%;
  }
  .imgStart {
    width: 40%;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .startInfo {
    margin: 10% 0 0 8%;
  }
  .imgStartContainer {
    display: flex;
  }
}
/*FOOTER*/
.objFooterPanel {
  margin: auto;
  min-width: 100%;
  min-height: 600px;
}
