<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>

      <div class="contentHome">
          <div class="Icons">
              <div class="Icon">
                  <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-08_nc1tgw.svg" alt="">
                  <h4 class='iconText'>Camión</h4>
              </div>
              <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-09_weohii.svg" alt="">
                <h4 class='iconText'>Remolque</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-10_zv2gd6.svg" alt="">
                <h4 class='iconText'>Remolque a.</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-11_vdlsiv.svg" alt="">
                <h4 class='iconText'>Tanque</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-12_dw3hwb.svg" alt="">
                <h4 class='iconText'>Estacas</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620377/SVGS_MENU%CC%81_FRIISBII-13_xonfqc.svg" alt="">
                <h4 class='iconText'>Refrigerado</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620379/SVGS_MENU%CC%81_FRIISBII-14_zmym4j.svg" alt="">
                <h4 class='iconText'>Volqueta</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630620379/SVGS_MENU%CC%81_FRIISBII-14_zmym4j.svg" alt="">
                <h4 class='iconText'>Cama baja</h4>
            </div>
            <div class="Icon">
                <img class='iconImg' style="background: white;" src="https://res.cloudinary.com/marcos020499/image/upload/v1630620379/SVGS_MENU%CC%81_FRIISBII-15_camije.svg" alt="">
                <h4 class='iconText'>Plataforma</h4>
            </div>
          </div>
        <div class="inputContainer">
            <input class="inputInfo" type="text" placeholder="Origen" style="padding: 7px 120px 7px 10px;">
            <div class="inputButton">
                <input class="inputInfo" type="text" placeholder="Destino" style="padding: 7px 150px 7px 10px;">
                <button class="buttonInfo">Buscar ruta</button>
            </div>
            <input class="inputInfo" type="text" placeholder="Fecha de salida" style="padding: 7px 0 7px 10px;">
            <input class="inputInfo" type="text" placeholder="Fecha de llegada" style="padding: 7px 0 7px 10px;">
            <input class="inputInfo" type="text" placeholder="Dimensiones" style="padding: 7px 0 7px 10px;">
        </div>
  </div>
</body>

</html>