<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>

      <div class="contentHome">
          <div class="Icons">
              <div class="partition">
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701909/SVGS_MENU%CC%81_FRIISBII-08_hs6m6v.svg" alt="">
                    <h4 class='iconTextHome'>Camión</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701910/SVGS_MENU%CC%81_FRIISBII-13_tjzreq.svg" alt="">
                    <h4 class='iconTextHome'>Remolque</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630689606/SVGS_ICONOS_CAMIONES-10_eo8ay9.svg" alt="">
                    <h4 class='iconTextHome'>Remolque a.</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701909/SVGS_MENU%CC%81_FRIISBII-11_djsnal.svg" alt="">
                    <h4 class='iconTextHome'>Tanque</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701909/SVGS_MENU%CC%81_FRIISBII-12_fedz6i.svg" alt="">
                    <h4 class='iconTextHome'>Estacas</h4>
                </div>
                </div>
                <div class="partition">
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701910/SVGS_MENU%CC%81_FRIISBII-13_tjzreq.svg" alt="">
                    <h4 class='iconTextHome'>Refrigerado</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701911/SVGS_MENU%CC%81_FRIISBII-14_inwldj.svg" alt="">
                    <h4 class='iconText'>Volqueta</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome' src="https://res.cloudinary.com/marcos020499/image/upload/v1630701911/SVGS_MENU%CC%81_FRIISBII-14_inwldj.svg" alt="">
                    <h4 class='iconText'>Cama baja</h4>
                </div>
                <div class="Icon">
                    <img class='iconImgHome'  src="https://res.cloudinary.com/marcos020499/image/upload/v1630701911/SVGS_MENU%CC%81_FRIISBII-15_ysfmsx.svg" alt="">
                    <h4 class='iconText'>Plataforma</h4>
                </div>
            </div>
        </div>
        <div class="inputContainer">
            <input class="inputInfo" type="text" placeholder="Origen" style="padding: 17px 24vw 17px 10px;">
            <div class="inputButton">
                <input class="inputInfo" type="text" placeholder="Destino" style="padding: 17px 12vw 17px 10px;">
                <button class="buttonInfos">Buscar ruta</button>
            </div>
            <input class="inputInfo" type="text" placeholder="Fecha de salida" style="padding: 17px 12vw 17px 10px;">
            <input class="inputInfo" type="text" placeholder="Fecha de llegada" style="padding: 17px 12vw 17px 10px;">
            <input class="inputInfo" type="text" placeholder="Dimensiones" style="padding: 17px 12vw 17px 10px;">
        </div>
  </div>
</body>

</html>