/*CONTENT HOME*/
.contentHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1100px;
  height: 200px;
  padding: none;
  margin: none;
  border-radius: 12px;
  background: black;
}

.Icons {
  display: flex;
  width: 100%;
  margin: -10% 0 0 0;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.Icon {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  max-width: 90px;
  min-width: 90px;
  max-height: 100px;
  min-height: 100px;
  font-size: 9px;
  margin: 0 25px 0 0;
}
.Icon:hover {
  background: #ffd800;
  border-radius: 10px;
  color: black;
}
.IconTextHome {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.iconImgHome {
  align-items: center;
  max-width: 95px;
  min-width: 95px;
  max-height: 50px;
  min-height: 50px;
}
.inputContainer {
  font-family: "Montserrat", sans-serif;
  margin: 10px 35px 0 35px;
  display: inline-block;
  justify-content: left;
}
.inputButton {
  display: inline;
}
.inputInfo {
  margin: 4px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
}
.inputInfo::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: black;
}
.buttonInfo {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 15px 70px 18px 40px;
  border-radius: 7px;
  border: none;
  font-family: "Montserrat", sans-serif;
  background: #ffd800;
}
