body {
  margin: 0%;
  padding: 0%;
  background-color: #ffd800;
}
/*Header*/
.objHeader {
  width: 100%;
  margin: 0%;
  padding: 0%;
}
.findResultContainer {
  padding: 2% 0 0 0;
  margin: -5% 0 0 0;
  width: 100%;
  z-index: 1;
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1631225995/Sin_ti%CC%81tulo-2-11_forup7.svg);
  background-size: 100%;
}

/*FOOTER*/
.objFooter {
  margin: 0%;
  width: 100%;
  min-height: 600px;
}
/**/
.objFindFilter {
  width: 100%;
  height: 340px;
  padding: none;
  margin: auto;
  display: flex;
  margin: 2% auto auto auto;
  border-radius: 12px;
  scrollbar-width: none;
}

/*DATA*/
.objData {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  min-width: 370px;
  max-width: 370px;
  height: 510px;
  overflow-x: none;
  margin: 0 0.5% 2.8% 0.5%;
}
.objData::-webkit-scrollbar {
  display: none;
}
/*CONTENT*/

.dataDisplay {
  width: 85%;
  margin: -8% auto auto auto;
  display: inline-flexbox;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (max-width: 1500px) {
  .dataDisplay {
    margin: -5% 7% 0 7%;
    position: relative;
    top: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .objFindFilter {
    height: 530px;
  }
  .dataDisplay {
    margin: -10% 7% 0 7%;
    position: relative;
    top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .buttonB {
    max-width: 90%;
  }
}
