<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>
  <div>
      <div class="footer">
        <div class="logoFooter">FRIISBII</div>
        <div class="infoFooter">
          <h3>Sobre nosotros</h3>
          <h3>Contact</h3>
      </div>
      <div class="textFooter">
        <h4>Nosotros</h4>
        <h4>Términos y condiciones</h4>
        <h4>335647 2834</h4>
      </div>
      <div class="textFooter">
        <h4>FAQ</h4>
        <h4>Aviso de privacidad</h4>
        <h4>contacto.friisbii.com</h4>
      </div>
      <div class="iconFooter">
        <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630517776/truck_1_icxss3.png" alt="">
        <img class='iconImg' src="https://res.cloudinary.com/marcos020499/image/upload/v1630517776/truck_1_icxss3.png" alt="">
      </div>
      <h5>Copyrigth 2021 Desarrollado por Random</h5>
      </div>
  </div>
</body>

</html>