.inputCalendar {
  border: none;
  margin: 10% 0 0 -16vw;
  width: 61%;
  padding: 2% auto 1% auto;
}
.inputCalendar::placeholder {
  color: black;
  font-size: 12px;
}
.inputC {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
