
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" type="image/png" sizes="16x16"  href="../../favicon1/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32"  href="../../favicon1/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="57x57" href="../../favicon1/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../favicon1/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../favicon1/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../favicon1/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" sizes="96x96"  href="../../favicon1/apple-touch-icon-96x96.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../favicon1/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../favicon1/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../favicon1/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../favicon1/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../favicon1/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../favicon1/android-icon-192x192.png">
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" 
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="description" content="Web site created using create-react-app" />
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>

      <div style="margin: auto;">
  
        <div class="contentHomeFilter">
          <div class="inputsContainer">
                <div class="contaInput">
                  <i class="fa fa-truck icon"></i>
                  <input class="input-field inputInfo" type="text" placeholder="Remolque">
                </div>
                <div class="contaInput">
                  <i class="fa fa-map-marker icon"></i>
                  <input class="input-field inputInfo" type="text" placeholder="Zapopan, Jal">
                </div>
                <div class="contaInput">
                  <i class="fa fa-map-marker icon"></i>
                  <input class="input-field inputInfo" type="text" placeholder="Monterrey, Nuevo León">
                </div>
                <div class="contaInput">
                  <i class="fa fa-calendar icon"></i>
                  <input class="input-field inputInfo date" type="text" value="12/09/2021">
                </div>
                <div class="contaInput">
                    
                  <i class="fa fa-calendar icon"></i>
                  <input class="input-field inputInfo date" type="text" value="12/09/2021">
                </div>
                <div class="contaInput">
                  <input class="input-field inputInfo m3Button" type="text" placeholder="m3  Dimensiones" style="padding: 15px 63px 15px 10px;">
                </div>
              <button class="Processbutton2 button" style="color: black; margin: 0 0 0 15px;">Buscar</button>
          </div>
          <div class="button768">
            <button class="Processbutton Button768" style="color: black;">Buscar</button>
          </div>
    </div>
      </div>
</body>

</html>