<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>

      <div class="contentHome">
        <div class="inputContainer">
            <input class="inputInfo" type="text" placeholder="Remolque" >
            <input class="inputInfo" type="text" placeholder="Zapopan Jalisco" >
            <input class="inputInfo" type="text" placeholder="Monterrey, Nuevo León" >
            <input class="inputInfo" type="text" placeholder="04/11/2020" >
            <input class="inputInfo" type="text" placeholder="05/11/2020">          
            <input class="inputInfo" type="text" placeholder="M3 Dimensiones" style="padding: 10px">
            <button class="Processbutton" style="color: black;">Buscar</button>
        </div>
  </div>
</body>

</html>