/*CONTENT HOME*/
.contentHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: auto;
  text-align: justify;
  padding: none;
  margin: none;
  border-radius: 12px;
  background: #222529;
}

.inputContainer {
  font-family: "Montserrat", sans-serif;
  margin: 0 20px 0 20px;
  display: inline-block;
  justify-content: left;
}
.inputButton {
  display: inline;
}
.inputInfo {
  padding: 10px 10px 10px 23px;
  margin: 4px;
  width: 162px;
  font-size: 10px;
  border-radius: 7px;
  border: none;
}
.inputInfo::placeholder {
  font-family: "Montserrat", sans-serif;
  color: black;
}
.button768 {
  display: none;
}
@media (max-width: 768px) {
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  .inputInfo {
    margin: 2% auto;
    width: 80%;
  }
  .button {
    display: none;
  }
  .button768 {
    display: flex;
    text-align: center;
    margin: auto;
  }
}
.buttonInfo {
  font-size: 10px;
  border-radius: 7px;
  border: none;
  font-family: "Montserrat", sans-serif;
  background: #ffd800;
}

label {
  position: relative;
}

.transport:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("https://res.cloudinary.com/marcos020499/image/upload/v1631228247/SVGS_MENU%CC%81_FRIISBII-08_zs061l.svg")
    center / contain no-repeat;
}
.map:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("https://res.cloudinary.com/marcos020499/image/upload/v1631228247/ICONOS-02_sskwmu.svg")
    center / contain no-repeat;
}
.calendar:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("https://res.cloudinary.com/marcos020499/image/upload/v1631228247/ICONOS-01_x1yxh1.svg")
    center / contain no-repeat;
}
input {
  padding: 10px 30px;
}
