/*CONTENT HOME*/
.contentHomeFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: auto;
  text-align: justify;
  padding: none;
  margin: auto;
  border-radius: 12px;
  background: #222529;
}

.inputsContainer {
  width: 95%;
  font-family: "Montserrat", sans-serif;
  margin: 15px;
  display: inline-block;
}
.contaInput {
  margin: 0 30px 0 30px;
  display: inline-block;
}
.inputInfo {
  padding: 15px 40px 15px 33px;
  font-size: 10px;
  width: 92%;
  margin: 0 10px 15px 10px;
  border-radius: 7px;
  border: none;
}
.m3Button {
  width: 72%;
}
.date {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.inputInfo::placeholder {
  font-family: "Montserrat", sans-serif;
  color: black;
}
.button {
  position: relative;
  left: 0%;
}
.button768 {
  display: none;
}
.icon {
  position: relative;
  top: 30px;
  left: 20px;
}
@media only screen and (max-width: 1500px) {
  .inputsContainer {
    width: 90%;
    text-align: center;
  }
  .contaInput {
    width: 40%;
  }
  .inputInfo {
    font-size: 10px;
    width: 85%;
    border-radius: 7px;
    border: none;
  }
  .m3Button {
    width: 85%;
  }
  .button {
    display: none;
  }
  .button768 {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
  }
  .icon {
    left: -43%;
  }
}
@media only screen and (max-width: 900px) {
  .inputsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .contaInput {
    width: 85%;
    justify-content: center;
    margin: auto;
    display: inline-block;
  }
  .inputInfo {
    width: 80%;
  }
  .m3Button {
    width: 80%;
  }
  .icon {
    left: -44%;
  }
}
@media only screen and (max-width: 768px) {
  .inputsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .contaInput {
    width: 80%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inputInfo {
    width: 80%;
  }
  .icon {
    left: -48%;
  }
  .button768 {
    margin: 3% 0 3% 0;
  }
}
@media only screen and (max-width: 400px) {
  .Button768 {
    max-width: 150px;
  }
  .icon {
    left: -51%;
  }
}
