/*
color: #FFD800;
color: #222529;
color: #6569DF;
color: #399ACA;
color: #24D5D8;
color: #FECD2F;
color: #818A91;
color: #DDDDDD;
COLOR: #ECEEEF;
font-family: 'Montserrat', sans-serif;
font-family: 'Geomanist', sans-serif;
*/
@font-face {
  font-family: GeomanistBook;
  src: url(../../fonts/hinted-Geomanist-Book.woff2);
}
@font-face {
  font-family: GeomanistBold;
  src: url(../../fonts/hinted-Geomanist-Bold.woff2);
}
@font-face {
  font-family: MontserratExtra;
  src: url(../../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: MontserratL;
  src: url(../../fonts/Montserrat-Light.ttf);
}
body {
  margin: 0%;
  padding: 0%;
}
.Returnbutton {
  width: 112px;
  height: 42px;
  font-size: 15px;
  border-radius: 10px;
  min-width: 196px;
  border: 1px solid black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
.Dobutton {
  background-color: #ffd800;
  width: 42px;
  height: 42px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
}

.Smallbutton {
  background-color: #ffd800;
  width: 110px;
  height: 32px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: lighter;
}
.Mediumbutton {
  background-color: #ffd800;
  width: 170px;
  height: 46px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Geomanist", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}
.Generalbutton {
  background-color: #ffd800;
  width: 196px;
  height: 42px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 1000;
}
.Processbutton {
  background-color: #ffd800;
  width: 244px;
  height: 37px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 1000;
}
.Bigbutton {
  background-color: #ffd800;
  width: 407px;
  height: 46px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 1000;
}
.Head {
  display: flex;
}
/*Header*/
.objHeader {
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 150px;
}
.objCalendar {
  width: 120%;
  height: 230px;
}

/*Calendar*/
.inputCalendar {
  background: white;
  position: relative;
}

/*HOME*/

.Home {
  padding: 2% 0 0 0;
  margin: -4% 0 0 0;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 100%;
  background-color: #ffd800;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .objHeader {
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 245px;
  }
}
.containerHome {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 3% 0 0 0;
  margin: 0%;
  max-width: 100%;
  min-width: 100%;
  background-image: url(https://res.cloudinary.com/marcos020499/image/upload/v1630620340/Back_landing_-friisbii-02_z8p193.svg);
  background-size: 120%;
}
.titleHome {
  font-family: GeomanistBold;
  letter-spacing: 1px;
  font-weight: bolder;
  color: white;
  font-size: 40px;
}
.pHome {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  padding: 0.5% 0 1.5% 0;
}
.homeInfo {
  justify-content: center;
  width: 80%;

  margin: 2% 14% 0 14%;
  display: flex;
  flex-direction: row;
}
.infoText {
  width: 50%;
  padding: 10% 10% 0 0;
  text-align: left;
}
.imgInfo {
  z-index: 1;
  width: 30vw;
  height: 18vw;
  position: relative;
  top: 10vw;
  right: 15%;
  border-radius: 12px;
}
.imgInfoTwo {
  z-index: 2;
  width: 30vw;
  height: 18vw;
  border-radius: 12px;
}
.imgInfoC {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .homeInfo {
    margin: 2% 8% 0 8%;
  }
  .infoText {
    width: 50%;
    padding: 10% 10% 0 0;
    text-align: left;
  }
  .imgInfo {
    width: 23vw;
    height: 16vw;
    position: relative;
    top: 10vw;
    right: 15%;
    border-radius: 12px;
  }
  .imgInfoTwo {
    width: 23vw;
    height: 16vw;
    border-radius: 12px;
  }
}
@media (max-width: 768px) {
  .homeInfo {
    margin: 0% 8% 0 8%;
    flex-direction: column;
  }
  .infoText {
    width: 100%;
    padding: 3% 10% 0 0;
    text-align: left;
  }
  .imgInfo {
    width: 23vw;
    height: 16vw;
    position: relative;
    top: 80%;
    right: 15%;
    border-radius: 12px;
  }
  .imgInfoTwo {
    width: 23vw;
    height: 16vw;
    border-radius: 12px;
  }
}
@media (max-width: 1200px) {
  .imgInfoC {
    position: relative;
    top: -30%;
  }
}
@media (max-width: 768px) {
  .imgInfoC {
    justify-content: center;
    margin: auto;
    position: relative;
    top: -30%;
  }
}
.containerInfo {
  margin: 0 0 0 12%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.registerContainer {
  margin: 12vw 0 0 0;
  display: flex;
  flex-direction: row;
}
.registerTitle {
  text-align: left;
  font-family: "Geomanist", sans-serif;
  font-size: 35px;
  color: white;
  margin: 0 0 6% 0;
}
.registerP {
  text-align: left;
  width: 70%;
  color: white;
  margin: 0 0 4% 0;
}
@media (max-width: 1024px) {
  .registerContainer {
    margin: 0;
  }
}
.iconContainer {
  display: flex;
  padding: 0 0 20% 0;
  flex-direction: row;
}
.iconImg {
  position: relative;
  top: 60%;
  width: 90%;
}
.iconH4 {
  position: relative;
  top: 15%;
  left: 18%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  text-align: center;
}
.iconP {
  position: relative;
  top: 20%;
  left: 18%;
  font-size: 15px;
  width: 60%;
}
.contact {
  margin: 4% 20% 10% 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.contactInfo {
  text-align: left;
  margin: 10% 7% 0 0;
}
.contactForm {
  border-radius: 20px;
  display: flex;
  background: black;
  flex-direction: column;
  font-size: 8px;
  height: 110%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.form {
  padding: 3% 0 0 0;
}
.inputForm {
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 10px 0 2% 0;
  width: 80%;
  border-radius: 13px;
}
.inputForm::placeholder {
  font-size: 10p;
  color: black;
}
.buttonForm {
}
.titleBar {
  color: white;
  font-size: 30px;
}
.originInput {
  position: relative;
  top: 3%;
  width: 74%;
  left: 8%;
}
.objOrigin {
  margin: 0% 0 0 0%;
  width: 84%;
}
/*CONTENT HOME*/

.contentHomeIndex {
  margin: auto;
  width: 80%;
  height: 300px;
  display: flex;
  border-radius: 12px;
  background: black;
}
@media (max-width: 768px) {
  .contentHomeIndex {
    width: 100%;
    height: 60%;
  }
}
/*FOOTER*/
.objFooter {
  position: relative;
  top: 100px;
  margin: 0% 0 0 0;
  width: 100.5%;
  min-height: 565px;
}
