<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../pages/Home/style.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
</head>

<body>

  <div class="data">
    <div class="dataContainer" style="display: flex; flex-direction: column;">
      <div>
        <img class="imgData" src="https://res.cloudinary.com/marcos020499/image/upload/v1630607411/descarga_wedpdz.jpg" alt="">
        <div class="dataInfo">
          <h2 class="dataTitle">Trailer 2475</h2>
          <i class="glyphicon glyphicon-star"></i>
        <span>50</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; padding: 4% 0 0 0;">
        <div>
          <p class="dataP">Espacio disponible</p>
          <input class="dataInput" type="text" placeholder="30m3">
        </div>
        <div>
          <p class="dataP">Fecha de salida</p>
          <input class="dataInput" type="text" placeholder="03/11/2020">
        </div>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div>
          <p class="dataP">Origen</p>
          <input class="dataInput" type="text" placeholder="Zapopan, GDL">
        </div>
        <div>
          <p class="dataP">Destino</p>
          <input class="dataInput" type="text" placeholder="Monterrey, NL">
        </div>
      </div>
      <h2 class="dataPrice">$350 / m3</h2>
      <div class="dataButton">
        <button class="Processbutton">Ver</button>
      </div>
    </div>
  </div>
</body>

</html>